.env
/.idea
/vendor
/.vscode
.env.backup
/public/hot
/node_modules
npm-debug.log
/storage/*.key
yarn-error.log
Homestead.json
Homestead.yaml
/public/storage
.phpunit.result.cache
docker-compose.override.yml
/public/backend/admin/images/event_management/events
/public/backend/admin/images/event_management/categories
/public/backend/admin/images/header
